<!DOCTYPE html>
<html lang="en">
  <title>1754 | <%= htmlWebpackPlugin.options.title %></title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= htmlWebpackPlugin.options.faviconTags %>
  <%= htmlWebpackPlugin.options.preHead %>
  <%= htmlWebpackPlugin.tags.headTags %>
  <%= htmlWebpackPlugin.options.postHead %>

  <body style="background-color: #333;">
    <div id="app"></div>

    <script async src="/vendor/fontawesome.js"></script>
    <%= htmlWebpackPlugin.options.preBody %>
    <%= htmlWebpackPlugin.tags.bodyTags %>
    <%= htmlWebpackPlugin.options.postBody %>
  </body>
</html>
